p.error{
    font-size: 16px;
    font-weight: bold;
    color: red;
}
p.success{
    font-size: 16px;
    font-weight: bold;
    color: green;
}

/* RESULTS LISTING VIEW */

ul.products-list {
    margin: 10px 0 0 0;
    padding: 0;
    display: inline-block;
}
ul.products-list li {
    margin: 0 0 15px 15px;
    border: 1px solid #ccc;
    float: left;
    padding: 6px;
    width: 170px;
    height: 185px;
    list-style: none;
    font-size: 11px;
    line-height: 14px;
    position: relative;
}
ul.products-list li .product-details {
    
     position: absolute; bottom: 5px; left: 5px;
     width: 170px;
}
#emresultscontent ul.products-list li a {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: normal;
    
}
ul.products-list li a:hover {
    text-decoration: underline !important;
}
.product-price {
    color: #78C042;
    width: 48%;
    float: right;
    text-align: right;
    margin-top: 1px;
}
.product-cat {
    width: 48%;
    float: left;
    margin-top: 1px;
}
#emresultscontent .product-cat a {
    color: #999;
}
.product-left-col {
    float: left;
    width: 550px;
}
.product-right-col {
    float: right;
    width: 250px;
    
}
.product-right-col ul {
    margin: 40px 0 0 0; 
    padding: 0;
}
.product-right-col ul li {
    width: 230px;
    border-radius: 5px;
    background: #f5f5f5;
    padding: 10px;
    list-style: none;
    margin: 0 0 15px 0;
    border: 1px solid #D5D5D5;
}
.product-left-col .emdropshadow {
    margin: 0 0 20px 0;
}
.product-sidebar li h5 {
    font-size: 14px;
    margin: 0 0 10px 0;
    padding: 0 0 5px 0;
    border-bottom: 1px dashed #e1e1e1;
}
.product-sidebar li.price {
    border: 1px solid #ddd;
    background: #fff;
    padding: 9px;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, .1);
}
.product-sidebar li.price h5 {
    padding-bottom: 15px;
    padding-top: 5px;
}
.product-sidebar li.price .btn {
    margin-top: -3px;
}
.product-sidebar li.price .mainprice {
    font-size: 32px;
    font-weight: bold;
    text-align: right;
    margin: 0;
    padding: 0;
    color: #78C042;
}
.product-sidebar li.price .instock {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #333366;
}
.sc-tableheader {
    background: #f1f1f1;
    border: 1px solid #ddd;
}
.sc-tableheader td {
    padding: 8px 10px;
    text-align: center;
}
.shoplisting {
    width: 100%;
}
.sc-tabledata {
    border-bottom: 1px dashed #eee;
}
.sc-tabledata:last-child {
    border-bottom: none;
}
.sc-tabledata td {
    vertical-align: middle;
    padding: 8px 10px;
}
.coupon {
    background: #f1f1f1;
    padding: 14px 20px 10px 20px;
    margin: 10px 0 10px 0;
    border: 1px solid #ddd;
    text-align: right;
}
.cart-price {
    text-align: right;
    font-size: 20px;
    padding-top: 10px;
}
.formholder {
    border: 1px solid #eee;
    background: #f7f7f7;
    padding: 15px;
    display: inline-block;
}
.formholder td {
    padding: 5px;
}
.small-field {
    width: 260px;
}
.large-field {
    width: 578px;
}
.thead {
    height: 50px;
    vertical-align: middle;
    font-size: 16px;
    padding-right: 10px;
}
#store-table {
    width: 100%;
}
#store-table tr {
    border-bottom: 1px solid #e5e5e5;
}
#store-table tr:nth-child(even) {
    background: #f7f7f7;
}
#store-table tr td {
    padding: 5px 10px;
    vertical-align: middle;
    border-right: 1px dashed #e5e5e5;
}
#store-table tr td:nth-child(2) {
    width: 100px;
    text-align: center;
}
#store-table tr td:last-child {
    border-right: none;
    width: 10px;
    text-align: center;
}
#store-table tr td:first-child {
    padding-left: 20px;
}
#store-table .tableheader {
    border-bottom: 1px solid #bbb;
}
#store-table .tableheader td {
    border-right: 1px solid #bbb;
}
#store-table .tableheader td:last-child {
    border-right: none;
    text-align: center;
}
#store-table .tableheader td:nth-child(2) {
    text-align: center;
}


#home-top{
	
	width: 100%;
	min-height: 1000px;
}

#home-left {
	width: 720px;
	float: left;
	padding-left: 5px;
}
#home-right {
	width: 375px;
	float: left;
}

#home-categories{
	padding: 30px;
		clear: both;
	
}

.home-image {
	padding-bottom: 10px;
	padding-top: 10px;
	clear: both;
}

.home-logos  {
list-style: none;
display: block;
float: left;
padding: 5px 11px;
color: blue;
text-align: center;
}

.featured {
width: 670px;
border:1px solid #EEE;
padding:1em;
-moz-border-radius:8px;
-webkit-border-radius:8px;
-opera-border-radius:8px;
-khtml-border-radius:8px;
border-radius:8px;
	box-shadow:rgba(0,0,0,0.5) 0px 0px 12px; border-radius:6px;
	margin-left: 10px;
	margin-top: 18px;
}

.featuredheader {
	font-size: 20px;

 }

 
 
.logos  {
list-style: none;
display: block;
float: left;
padding: 5px 18px;

}
 .logo-section{
 overflow: hidden;
 }
 
 .featured-results  ul.products-list li  {
 padding: 15px;
 text-align: center;
 }
 
 
 
 
 
.featured-browse  ul.products-list li  {
 padding: 5px;
 text-align: center;
 width: 155px;
    height: 170px;
 }
 
.featured-browse {
width: 98%;
border:1px solid #EEE;
padding:1em;
-moz-border-radius:8px;
-webkit-border-radius:8px;
-opera-border-radius:8px;
-khtml-border-radius:8px;
border-radius:8px;
	box-shadow:rgba(0,0,0,0.5) 0px 0px 12px; border-radius:6px;
	margin-left:-5px;
	margin-top: 18px;
}


.onsale {
	text-decoration: line-through;
	font-size: 16px;
	color: black;
}

.product-sidebar li.price .onsale {
		font-size: 16px;
	color: black;
	
}

.saleprice {
	 font-size: 32px;
    font-weight: bold;
    text-align: right;
    margin: 0;
    padding: 0;
    color: #78C042;
}
#left-col {
	width: 236px;
	max-width: 236px;
}

#nav li {
	width: 136px;
}