.ui-widget-header {


	background: rgb(105,105,105); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(105,105,105,1) 0%, rgba(128,128,128,1) 2%, rgba(148,148,148,1) 4%, rgba(147,147,147,1) 7%, rgba(135,135,135,1) 17%, rgba(101,101,101,1) 33%, rgba(95,95,95,1) 41%, rgba(45,45,45,1) 85%, rgba(34,34,34,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(105,105,105,1)), color-stop(2%,rgba(128,128,128,1)), color-stop(4%,rgba(148,148,148,1)), color-stop(7%,rgba(147,147,147,1)), color-stop(17%,rgba(135,135,135,1)), color-stop(33%,rgba(101,101,101,1)), color-stop(41%,rgba(95,95,95,1)), color-stop(85%,rgba(45,45,45,1)), color-stop(100%,rgba(34,34,34,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(105,105,105,1) 0%,rgba(128,128,128,1) 2%,rgba(148,148,148,1) 4%,rgba(147,147,147,1) 7%,rgba(135,135,135,1) 17%,rgba(101,101,101,1) 33%,rgba(95,95,95,1) 41%,rgba(45,45,45,1) 85%,rgba(34,34,34,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(105,105,105,1) 0%,rgba(128,128,128,1) 2%,rgba(148,148,148,1) 4%,rgba(147,147,147,1) 7%,rgba(135,135,135,1) 17%,rgba(101,101,101,1) 33%,rgba(95,95,95,1) 41%,rgba(45,45,45,1) 85%,rgba(34,34,34,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(105,105,105,1) 0%,rgba(128,128,128,1) 2%,rgba(148,148,148,1) 4%,rgba(147,147,147,1) 7%,rgba(135,135,135,1) 17%,rgba(101,101,101,1) 33%,rgba(95,95,95,1) 41%,rgba(45,45,45,1) 85%,rgba(34,34,34,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(105,105,105,1) 0%,rgba(128,128,128,1) 2%,rgba(148,148,148,1) 4%,rgba(147,147,147,1) 7%,rgba(135,135,135,1) 17%,rgba(101,101,101,1) 33%,rgba(95,95,95,1) 41%,rgba(45,45,45,1) 85%,rgba(34,34,34,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#696969', endColorstr='#222222',GradientType=0 ); /* IE6-9 */
}




.search-sidebar-header span{
    margin: 0;
    padding: 0;
    list-style: none;
    color: #222;
}