<h2>Addresses</h2>

#foreach($address in $customer.getAddressList())
<div class="basicform">
<fieldset>
    <legend>$address.prefix</legend>
    <dt>Address 1: </dt>  <dd>$!address.address1 &nbsp;</dd>
	<dt>Address 2: </dt>  <dd>$!address.address2 &nbsp;</dd>
	 <dt>City: </dt> <dd>$!address.city &nbsp;</dd>
	 <dt>State: </dt> <dd>$!address.state &nbsp;</dd>
	 <dt>Zip: </dt> <dd>$!address.zipCode &nbsp;</dd>
	 <dt>Country: </dt> <dd>$!address.country &nbsp;</dd>  
<dd>  <a href="edit.html?prefix=$address.prefix">Edit</a>
 <a href="removeshipping.html?prefix=$address.prefix">Remove</a>
</dd> 
</fieldset>
</div>
#end
<p>
<a href="edit.html">Add new address</a> 
</p>

