<table border=0 cellpadding=0 cellspacing=0 width=100%>
<tr>
<td valign=top class=body width=100%>
	<h2>$catalog.name</h2>

#if ($canadmincart)
[<a href="$apphome/admin/categories/editor/addnew.html">Add Child Category</a>]
#end

	$pages.streamContent()

    $pages.stream("$apphome/search/results-navigation.html")

    <div class=proddata>
     #if( $catalog.hasChildren()  && $page.isPropertyTrue("showsubcategories"))
 		$pages.include("$apphome/layout/cataloglist.html")
	#else
 			  $pages.include("$apphome/search/results.html")
	#end
      
    </div>

</td>
<td valign="top">
$pages.stream("$apphome/search/results-sidebar.html")
</td>
</tr>
<tr>
<td colspan=2 >
		$pages.stream("$apphome/search/results-navigation.html")
</td>
</tr>
</table>
