#set ( $orderNumber = $order.orderNumber )
#set ( $customer = $order.customer )
#set($searcherManager = $store.getSearcherManager())

<h2 >Order #$orderNumber</h2>

<h3 >$order.dateOrdered</h3>
#if( $canmanageorders )
			<form name="orderstatusform" >
				<input type=hidden name="ordernumber" value="$order.getOrderNumber()"/>
				<select name="orderstatus" id="orderstatus" >
					#set ($types = $store.getOrderArchive().getOrderStates($store))		
				 	#foreach( $key in $types.keySet() )
							<option value="$key" #if( $order.getOrderState().getId() == $key ) selected #end>
								$types.get($key)
							</option>
							#end
				</select>
				<input type=submit value="Change Order Status" />
			</form> 
#else
$order.getOrderStatus()
#end

#if( $canmanageorders)
	<p><a href="#" onclick="new Ajax.Updater('messagearea', '$home$cataloghome/orders/sendreceipt.html', { parameters: { orderid: '$order.id', customerid: '$customer.getUserName()' } } ); return false;">Send email</a> receipt</p>
	<span id="messagearea"> </span>
	
#end

#if ( $customer.billingAddress && $customer.billingAddress.address1 )
	#set ( $customerAddress = $customer.billingAddress )
#else
	#set ( $customerAddress = $customer.shippingAddress )
#end

<p>
	<b>Customer:</b><br>
	$!customer.getFirstName() $!customer.getLastName()
	#if( $user.hasPermission("oe.cart.admin" ) )
	( <a href="$home/system/usermanager/modifyuser.html?username=$customer.userName">$!customer.userName</a> )
	#end	
	<br>
                                                                                                           	</br>
	$!customerAddress.address1<br>
	#if ( $customerAddress.address2 && $customerAddress.address2 != "" )
		$customerAddress.address2<br>
	#end
	$!customerAddress.city #if ($customerAddress.state || $customerAddress.zipCode || $customerAddress.country),#end $!customerAddress.state $!customerAddress.zipCode $!customerAddress.country<br>
	#if ($customer.phone1)Phone: $customer.phone1<br> #end
	#if ($customer.email)Email: <a href="mailto:$customer.email">$customer.email</a><br> #end
	#if( $customer.fax )
		Fax: $!customer.fax<br>
	#end
	#if( $customer.userfield2 )
	UserField 2: $!customer.userfield2
	#end
</p>

#if ( $customer.shippingAddress && $customer.shippingAddress.address1 && $customer.billingAddress && $customer.billingAddress.address1 )
	<p>
		<b>Ship to:</b><br>
		$customer.shippingAddress.address1<br>
		#if ( $customer.shippingAddress.address2 && $customer.shippingAddress.address2 != "" )
			$customer.shippingAddress.address2<br>
		#end
		$customer.shippingAddress.city, $customer.shippingAddress.state $customer.shippingAddress.zipCode $!customer.shippingAddress.country<br>
	</p>
#end
<table cellspacing="2" class="standard-table">
	<tr>
		<th align="left">Product ID</th>
		<th align="left">Item SKU</th>
		<th align="center" width="100" >Quantity</th>
		#if ($content.isPropertyTrue("showprice"))
		<th align="right">Unit Price</th>
		#end
		#foreach ($detail in $store.fieldArchive.getDataProperties("item","orderdetails",$user))
		<th align="center">$!detail.text</th>
		#end
		#foreach ($detail in $store.fieldArchive.getDataProperties("product","orderdetails",$user))
		<th align="center">$!detail.text</th>
		#end
	</tr>
	
	<form name="permissions" action="$home$cataloghome/admin/orders/updateitemstatus.html" method="post">
	#set( $types = $searcherManager.getList($store.getCatalogId() ,"itemstatus") )
		
	#foreach ( $item in $order.items )
		#set($path ="$cataloghome/products/${store.getProductPathFinder().idToPath($item.getProduct().getId())}.html")
		<tr>
			<td><a href="$home$path" target="_blank">$item.product.id</a></td>
			<td>$item.sku</td>
			<td align="center">$item.quantity</td>
			#if ($content.isPropertyTrue("showprice"))
			<td align="right">$item.yourPrice</td>
			#end
		#foreach ( $detail in $store.fieldArchive.getDataProperties("item","orderdetails",$user) )
			<td>
				$!item.getProperties().get($detail.id)
			</td>
		#end
			#foreach ( $detail in $store.fieldArchive.getDataProperties("product","orderdetails",$user) )
			<td>
				$!item.getProduct().get($detail.id)
			</td>
		#end
		<td>
		
		<input type="hidden" name="sku" value="$item.sku"/>
		<input type="hidden" name="ordernumber" value="$orderNumber"/>
		<input type="hidden" name="origURL" value="$content.path"/>
		
		#if($canmanageorders)
			<select name="${item.sku}.status">
			#foreach( $type in $types )
			#set( $key = $type.id)
			<option value="$key" #if( $key == $item.status ) selected #end>
				$type
			</option>
			#end
		   </select>
		 #else
		##    $!types.getById($item.status)
		#end
		</td>
		</tr>
		#foreach ( $option in $item.getOptions() )
		<tr>
			<td></td>
			<td><i>
				&nbsp;&nbsp;$option.name: $!option.value
			</i></td>
		</tr>
		#end
	#end
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td>
			#if( $canmanageorders )
			<input type="submit" value="Save Item Status"/>
			#end

	</form>
	<br><br>
	#if( $canmanageorders )
		<form name="permissions" action="$home$cataloghome/admin/orders/updateitemstatus.html" method="post" style="display: inline;">
		#foreach ( $item in $order.items )
		
		<input type="hidden" name="sku" value="$item.sku"/>
		<input type="hidden" name="ordernumber" value="$orderNumber"/>
		<input type="hidden" name="origURL" value="$content.path"/>
		<input type="hidden" name="${item.sku}.status" value="approved"/>
	
		#end
			<input type="submit" value="Approve All"/>
	</form>	
	<form name="permissions" action="$home$cataloghome/admin/orders/updateitemstatus.html" method="post" style="display: inline;">
		#foreach ( $item in $order.items )		
		<input type="hidden" name="sku" value="$item.sku"/>
		<input type="hidden" name="ordernumber" value="$orderNumber"/>
		
		<input type="hidden" name="${item.sku}.status" value="rejected"/>		
		#end
		<input type="hidden" name="origURL" value="$content.path"/>
		<input type="submit" value="Reject All"/>
	</form>	
	#end	

<br>

		</td>
	</tr>
	<tr>
		<td><br></td>
	</tr>
	#if ($content.isPropertyTrue("showprice"))
	<tr>
		<td colspan="6" align="right">Subtotal:</td>
		<td align="right">$order.subTotal</td>
	</tr>
	<tr>
		<td colspan="6" align="right">Tax:</td>
		<td align="right">$order.tax</td>
	</tr>
	  #if ( ($order.shippingMethod.description && $order.shippingMethod.description != "")
		|| $order.shippingCost != "0.00" )
	  <tr>
		  <td colspan="3" align="right">Ship by $order.shippingMethod.description:</td>
		  <td align="right">$order.shippingCost</td>
	  </tr>
	  #end
	<tr>
		<td colspan="3" align="right"><b>Grand Total:</b></td>
		<td align="right"><b>$order.totalPrice</b></td>
	</tr>
	#end
	
</table>

<p>
	#if ( $order.paymentMethod.cardNumber && $order.paymentMethod.cardNumber != "" )
		#if( $order.getOrderState().getId() == "authorized" )
			Authorized $order.totalPrice to <b>$order.paymentMethod.creditCardType</b><br>
		#elseif( $order.getOrderState().getId() == "captured" )
			Captured $order.totalPrice to <b>$order.paymentMethod.creditCardType</b><br>
		#else
			Accepted $order.totalPrice on <b>$order.paymentMethod.creditCardType</b><br>
		#end
#if( $canmanageorders )
	
		Card number: $order.paymentMethod.cardNumber<br/>
		CVC: $!order.paymentMethod.cardVerificationCode<br/>
#end
		Expiration date: $order.paymentMethod.expirationDateString<br>

#if( $canmanageorders )

		#if( $order.getOrderState().getId() == "authorized" )
		<br>
			<form action="$home/${catalogid}/admin/orders/captureorder.html" name="capture">
				Once the product is shipped then charges can be applied:
				<!-- Note to customer: <br><textarea rows=5 cols=20 name="note"></textarea>
				<br> -->
				<input type="submit" value="Capture Order" />			
				<input type="hidden" name="ordernumber" value="$order.getOrderNumber()" />
			</form>
		#end
#end
	#end
	#if ( $order.paymentMethod.poNumber )
		Purchase Order: $order.paymentMethod.poNumber<br>
	#end
	#if ( $order.paymentMethod.billMeLater )
		Bill Me Later<br />
	#end
	#if ( $order.paymentMethod.note )
		Notes: $order.paymentMethod.note
	#end
</p>
<p>
<a href="$home$cataloghome/downloads/orders/${orderNumber}.zip">Download</a>
</p>


