.TOPMENU
{
	background-color: #36578c;
	border-color: #36578c;
}

.TOPMENU A
{
	color: white;
}
.TOPMENU A:visited
{
	color: white;
}

.SIDEMENU
{
	border-color: #dadada;
}

.SIDEBAR
{
	background-color:  #D9EDFF; 
}
.TEXTHEADER
{
	color:#333333;
}
.NAVBOX
{
	color:           #FFFFFF;
	background-color: #666666;
}
.ERROR
{
	color:           red;
}
.CRUMB
{
	color:#333333;
}
.PRODUCTHEADER
{
	background-color: #D9EDFF;
}
.HOVERACTIVE
{
	background-color: #D9EDFF;
	padding: 2px;
}
.NOHOVER
{
	background-color: #FFFFFF;
	padding: 2px;
}
.archivesidemenu
{
	background-color: #FFFFFF;	

}

.deals  {
list-style: none;	
}