
#set( $resultdetail = $archive.getDataProperties("resultdetail") )
#set( $resulthover = $archive.getDataProperties("resulthover") )

<div id="slideSheet" class="slidemediumheight clearFix">

#foreach ( $child in $catalog.getChildren() )
<div class="slide"><div class="positioner">
	#set( $clink = "$apphome/categories/${child.id}.html" )
	#set( $img = "$apphome/categories/images/thumb/${child.id}.jpg")

	#if (!$pages.doesExist($img) )
		#set( $img = "$apphome/layout/media/catalogthumb.jpg")
	#end
	<div class="resultdetails">
				

	   <a href="$clink" class="downloadlink" ><img src="$img"></a><br>
	   <a href="$clink" class="downloadlink" > <span class="resultdata" >$child.name</span></a>
	
			</div>	
	
</div> </div>

#end
</div>