#if($canbrowseproducts)

<form action="$home$apphome/shoppingbag.html" name="shop" id="shop" >
 
<div class="product-left-col">  
    <h2>$product.getName()</h2>
	   $pages.stream("$apphome/layout/productimages.html")
		<div style="clear: both;">
		$!product.get("descrip")
		
		<h3>Phone Compatibility</h3>
		#foreach($phone in $product.getValues("phone"))
			#set($p = "")
			#set($p = $searcherManager.getData($catalogid, "phone", $phone))
			#if($p != "")
				<img src="$apphome/theme/images/check.png"/>$p<br/>
			#end
		#end
		
</div>

		#set( $productdetails = $store.getProductDetails("productdetails", $user) )

		 #foreach( $detail in $productdetails )
			#set ($info = "")
		 	#if( $detail.isList() )
				#set( $types = $store.getProperties(${detail.getId()}) ) 
				#set ($info = $types.get($product.get($detail.getId() )))
			#else
				#set ($info = $product.get($detail.getId()))
			#end
			#if ($info.length() > 0)

						$detail.getText():
					
						$info

			#end
			#set ($info = "")
		#end
    	
    	$context.putPageValue("view", $viewpath)
    	$context.putPageValue("searcher", $store.getProductSearcher())
    	$context.putPageValue("data", $product)

#set( $origURL = $context.getRequestParameter("origURL" ) )
#set ( $moduleid = $context.findValue("module") )

$pages.include("/$applicationid/components/xml/detailreadonly.html", $context)
    	
    


			
</div>
<div class="product-right-col">					
	<ul class="product-sidebar">		

		#set( $types = $store.getFieldArchive().getDataProperties("product","productsearch",$user) )
         $context.putPageValue("fields",$types)
         $pages.include("$apphome/layout/productpropertiesfields.html", $context)
  
			$pages.stream("$apphome/layout/productsizeandcolors.html")
			$pages.stream("$apphome/layout/productoptions.html")
			$pages.stream("$apphome/layout/productprice.html")
			<strong>Carrier&nbsp;:</strong><br>
			#if($product.displaydesignationid == "1")
				<img src="$apphome/theme/images/logo.png"/>
			#end
			#if($product.displaydesignationid == "2")
			<img src="$apphome/theme/images/fido.png"/>
			#end
			#if($product.displaydesignationid == "3")
			<p style="text-align: center"/><img align="center" src="$apphome/theme/images/logo.png"/></p>
			<p style="text-align: center"/><img align="center" src="$apphome/theme/images/fido.png"/></p>
			#end
			
    </ul>
</div>
</form>





#else
You've arrived here in error.  Please check the link and try again.
#end
