
#if( $hits )
   	#set( $prev = $hits.previousId($product.getId() ) )
   	#set( $next = $hits.nextId($product.getId() ) )
   	#if ( $prev )
   		#if ( $next )
           	<a href="$home$apphome/products/${store.productPathFinder.idToPath($prev)}.html">&lt;previous</a>
           #else
           	<a href="$home$apphome/products/${store.productPathFinder.idToPath($prev)}.html">&lt;previous</a><br/>
		#end
   	#end
    #if ( $next )
           <a href="$home$apphome/products/${store.productPathFinder.idToPath($next)}.html">next&gt;</a><br>
	#end
#end

$pages.include("/$applicationid/layout/productslides.html",$context)


