#if($cancheckout || $canviewcart)
<li class="price">
		<input type="hidden" name="productid" value="$product.getId()" />

#if($cancheckout)
     <h5>[[Product Price]]

	#if ( $product.isOnSale() )
		<div class="mainprice onsale">$product.getRetailPrice()</div>
		<div class="saleprice">$product.getYourPrice()</div>
	#else
		<div class="mainprice">$product.getYourPrice()</div>
	#end
 	#if( $product.isAvailable() )                                                                                                                                                                          
	#else	
	<b>[[Product No Longer Available.]]</b> [[Please select another product.]]

	#end
</h5>
#end
#if($canviewcart)
	#if($product.isInStock())
	<div style="margin-top:3px;float:right; width: 150px;">
		<select name="quantity">
		#foreach($numb in [1..100])
			<option value="$numb">$numb</option>
		#end
		</select>
		<input class="btn right" type="submit" value="[[Add to Cart]]" />
	</div>
	<br/><br/>
	#end
 #end

</li>
    #end

#if( $product.isAvailable() )                                                                                                                                                                          
	#if($product.isInStock())
	
		<li class="price">
			<div class="instock">[[Current Stock]]: $product.getInventoryItem(0).getQuantityInStock()</div>
		</li>
		
	#else
	
		<li class="price">
			<div class="instock">
				[[This product is currently out of stock.]] 
				<a class="btn" href="$apphome/views/myaccount/tickets/newnotification.html?product.value=${product.id}&tickettype.value=stockrequest&viewid=ticketsticket_details&viewpath=ticket/ticketticket_details">[[Notify me when it's available]]</a>
			</div>
		</li>
		
		
	#end
	#if($canrequestquote)
	<li class="price">
	<p>Order a large number and interested in a better price?  Use our request a quote feature.</p>
					<a class="btn" href="$apphome/views/myaccount/tickets/addnew.html?product.value=${product.id}&tickettype.value=quoterequest&viewid=ticketsticket_details&viewpath=ticket/ticketticket_details">[[Request a quote]]</a>
	
	</li>
	#end
	<li class="price">
		#if($canviewdevelopertools)
			<strong>Product ID:</strong>&nbsp;$product.getId()<br>
		#end
		#set($rogerssku = $product.get("rogerssku"))
		#if($rogerssku)
			<strong>SKU:</strong>&nbsp;$rogerssku<br>
		#end
		#set($upccode = $product.get("upc"))
		#if($upccode)
			<strong>UPC:</strong>&nbsp;$upccode<br>
		#end
				
		#if($canrogersprice)
			<strong>Rogers Price:</strong>&nbsp;$product.get("rogersprice")<br>
		#end
		#set($msrpprice = $product.get("msrp"))
		#set($fidoprice = $product.get("fidomsrp"))
		
		#set($groups = $product.getValues("group"))
		#if($groups.contains("fido") && $groups.contains("rogers"))
			#if($msrpprice)
				<strong>ROGERS MSRP:</strong>&nbsp;$msrpprice<br>
			#end
			#if($fidomsrp)
				<strong>FIDO MSRP:</strong>&nbsp;$fidomsrp<br>
			#end
		#elseif($product.group.equals("rogers"))
			#if($msrpprice)
				<strong>ROGERS MSRP:</strong>&nbsp;$msrpprice<br>
			#end
		#elseif($product.group.equals("fido"))
			#if($fidomsrp)
				<strong>FIDO MSRP:</strong>&nbsp;$fidomsrp<br>
			#end
		#end

		#set($mansearcher = $searcherManager.getSearcher("media/catalogs/store", "manufacturer"))
        #set($mans = $mansearcher.searchById($product.get("manufacturerid")))
        #if($mans)
        	<strong>Manufacturer:</strong>&nbsp;$mans.getName() 
        	#if($canviewdevelopertools)
        		#if($product.get("manufacturerid"))
        			($product.get("manufacturerid")) 
        		#end 
        	#end 
        #else
        	<strong>Manufacturer:</strong>&nbsp;[[Not found!]]
        	#if($canviewdevelopertools)
        		#if($product.get("manufacturerid"))
        			($product.get("manufacturerid"))
        		#end
        	#end 
        #end
        #if($canviewtesting)
        	#set($distributorsearcher = $searcherManager.getSearcher($catalogid, "distributor"))
        	#set($distrib = $distributorsearcher.searchById($product.get("distributor")))
        	#if($distrib)
        	<strong>Distributor:</strong>&nbsp;$distrib.getName()
        	#else
        	<strong>Distributor:</strong>&nbsp;[[Not found!]]
        	#end
        #end
        
    </li>
#end
	
#if($canvieweol)

		#if($product.expectedendoflife)
		
		<li>
		<h5>[[Additional Details]]</h5>
		
		$context.putPageValue("data", $product)
		$context.putPageValue("searcher", $store.getProductSearcher())
		$context.putPageValue("view", "product/productdetails")
		$pages.include("$apphome/components/xml/detaileditor.html?detailsreadonly=true", $context)
		
		
		
		
		        		 					#set($end = $DateStorageUtil.parseFromStorage($product.expectedendoflife))
		        		 					#set($start = $DateStorageUtil.parseFromStorage($product.createdon))
		        		 					#set($high = (($end.time - $start.time) * .8) + $start.time)
		        		 				
		        		 					
			        		            [[EOL Status]]:	<meter value="$now.time" min="$start.getTime()" max="$end.getTime()" high="$high"></meter>  
		        		            	<br/>
		        		            	[[Creation Date]]: $product.createdon 
		        		            	<br/>
		        		            	[[Expected EOL]]: $product.expectedendoflife
		        		            	#end


</li>

#end