#set($manufacturerid = $product.get("manufacturerid"))
#set($categoryid = $product.get("categoryid"))
#set($searcherManager = $store.getSearcherManager())
#set($manufacturersearcher = $searcherManager.getSearcher($catalogid, "manufacturer"))
#set($manu = $manufacturersearcher.searchById($manufacturerid))
#set($categorysearcher = $searcherManager.getSearcher($catalogid, "categoryid"))
#set($category = $categorysearcher.searchById($categoryid))
#set($manuname = $manu.getName())
#set($catname = $category.getName())
<div class="breadcrumb">
	<ul>
		<li><a href="$apphome/index.html">[[Home]]</a></li>
		<li><a href="/ecommerce/browse.html">[[Browse]]</a><li>
		#if ($catname && $catname.length() > 0)
		<li><a href="/ecommerce/search/fieldsearch.html?field=categoryid&categoryid.value=${categoryid}&operation=exact">$catname</a></li>
		#end
		#if ($manuname && $manuname.length() > 0)
		<li><a href="/ecommerce/search/fieldsearch.html?field=manufacturerid&manufacturerid.value=${manufacturerid}&operation=exact">$manuname</a></li>
		#end
		<li>$product.getName()</li>
	</ul>
</div>
<h2>&nbsp;</h2>
#if($canbrowseproducts)

<form action="$home$apphome/shoppingbag.html" name="shop" id="shop" >
 
<div class="product-left-col">  
    <h2>$product.getName()</h2>
	   $pages.stream("$apphome/layout/productimages.html")
		<div style="clear: both;">
		$!product.get("descrip")
		</div>
		<div class="phone-compatibility">
			<h3>[[Phone Compatibility]]</h3>
				## bug in phone compatibility field
				## remove duplicates
				##Phones: $product.getValues("phone")<br/>
				#set($phones = $product.getValues("phone"))
				#set($list  = [])
				#foreach ($phone in $phones)
					#set($add = true)
					#foreach ($item in $list)
						#if($item.equals($phone))
							#set($add = false)
						#end
					#end
					#if($add == true)
						#set($null = $list.add($phone))
					#end
				#end
				
				#foreach($phone in $list)
					#set($p = "")
					#set($p = $searcherManager.getData($catalogid, "phone", $phone))
					##if($p != "")
						<img src="$apphome/theme/images/check.png" border="0"/>$p<br/>
					##end
				#end
		</div>

		#set( $productdetails = $store.getProductDetails("productdetails", $user) )

		 #foreach( $detail in $productdetails )
			#set ($info = "")
		 	#if( $detail.isList() )
				#set( $types = $store.getProperties(${detail.getId()}) ) 
				#set ($info = $types.get($product.get($detail.getId() )))
			#else
				#set ($info = $product.get($detail.getId()))
			#end
			#if ($info.length() > 0)

						$detail.getText():
					
						$info

			#end
			#set ($info = "")
		#end
    	
    	$context.putPageValue("view", $viewpath)
    	$context.putPageValue("searcher", $store.getProductSearcher())
    	$context.putPageValue("data", $product)

#set( $origURL = $context.getRequestParameter("origURL" ) )
#set ( $moduleid = $context.findValue("module") )

$pages.include("/$applicationid/components/xml/detailreadonly.html", $context)
    	
    


			
</div>
<div class="product-right-col">					
	<ul class="product-sidebar">		

		#set( $types = $store.getFieldArchive().getDataProperties("product","productsearch",$user) )
         $context.putPageValue("fields",$types)
         $pages.include("$apphome/layout/productpropertiesfields.html", $context)
  
			$pages.stream("$apphome/layout/productsizeandcolors.html")
			$pages.stream("$apphome/layout/productoptions.html")
			$pages.stream("$apphome/layout/productprice.html")
			<strong>Carrier&nbsp;:</strong><br>
			#set($groups = $product.getValues("group"))
			#if($groups.contains("fido") && $groups.contains("rogers"))
				<p style="text-align: center"/><img align="center" src="$apphome/theme/images/logo.png"/></p>
				<p style="text-align: center"/><img align="center" src="$apphome/theme/images/fido.png"/></p>
			#elseif($groups.contains("rogers"))
				<img src="$apphome/theme/images/logo.png"/>
			#elseif($groups.contains("fido"))
				<img src="$apphome/theme/images/fido.png"/>
			#end
			
    </ul>
</div>
</form>


#else
[[You've arrived here in error.  Please check the link and try again.]]
#end
