<li class="price">
    <h5>Product Price<input class="btn right" type="submit" value="Add to Cart" /></h5>
	

##if($canvieweol)
##<input type="hidden" name="field" value="store">
##   Store:     <select name= "store.value" style="width:100px">
##    		<option value=""></option>
##    	   #foreach ($store in $searcherManager.getList($catalogid, "store"))
    	   		
##            <option value="$store.id" #if($item.store == $store.id) SELECTED #end>$store.name</option>
 ##   		#end
##     	</select>
##	#end
	#if ( $product.isOnSale() )
		<div class="mainprice onsale" $product.getRetailPrice()</div>
		<div class="saleprice">$product.getYourPrice()</div>
	#else
		<div class="mainprice">$product.getYourPrice()</div>
	#end
	 	#if( $product.isAvailable() )                                                                                                                                                                          
	 <input type="hidden" name="productid" value="$product.getId()" />	
		#else	
		<b>Product No Longer Available.</b> please select another product

		#end

</li>

#if($canvieweol)

#if($product.expectedendoflife)

<li>
<h5>Additional Details</h5>

$context.putPageValue("data", $product)
$context.putPageValue("searcher", $store.getProductSearcher())
$context.putPageValue("view", "product/productdetails")
$pages.include("$apphome/components/xml/detaileditor.html?detailsreadonly=true", $context)




        		 					#set($end = $DateStorageUtil.parseFromStorage($product.expectedendoflife))
        		 					#set($start = $DateStorageUtil.parseFromStorage($product.createdon))
        		 					#set($high = (($end.time - $start.time) * .8) + $start.time)
        		 				
        		 					
	        		            EOL Status:	<meter value="$now.time" min="$start.getTime()" max="$end.getTime()" high="$high"></meter>  
        		            	<br/>
        		            	Creation Date: $product.createdon 
        		            	<br/>
        		            	Expected EOL: $product.expectedendoflife
        		            	#end


</li>

#end