<form action="$home$apphome/shoppingbag.html" name="shop" id="shop" >
 
<div class="product-left-col">  
    <h2>$product.getName()</h2>
	   $pages.stream("$apphome/layout/productimages.html")
		
				$pages.stream("$cataloghome/products/${product.id}.html")

				$pages.streamContent()

			
			
				#set( $productdetails = $store.getProductDetails("productdetails", $user) )

				 #foreach( $detail in $productdetails )
				 	#if( $detail.isList() )
						#set( $types = $store.getProperties(${detail.getId()}) ) 
						#set ($info = $types.get($product.get($detail.getId() )))
					#else
						#set ($info = $product.get($detail.getId()))
					#end
					#if ($info.length() > 0)

								$detail.getText():
							
								$info

					#end
					#set ($info = "")
				#end


    	
    	$context.putPageValue("view", $viewpath)
    	$context.putPageValue("searcher", $store.getProductSearcher())
    	$context.putPageValue("data", $product)

#set( $origURL = $context.getRequestParameter("origURL" ) )
#set ( $moduleid = $context.findValue("module") )

$pages.include("/$applicationid/components/xml/detailreadonly.html", $context)
    	
    


			
</div>
<div class="product-right-col">					
	<ul class="product-sidebar">		

		#set( $types = $store.getFieldArchive().getDataProperties("product","productsearch",$user) )
         $context.putPageValue("fields",$types)
         $pages.include("$apphome/layout/productpropertiesfields.html", $context)
  
			$pages.stream("$apphome/layout/productsizeandcolors.html")
			$pages.stream("$apphome/layout/productoptions.html")
			$pages.stream("$apphome/layout/productprice.html")
    </ul>
</div>
</form>

<div style="clear:both;">


<div class="ui-widget-header">Product Order Details</div>
	           <div class="ui-widget-content categories-widget no-padding-for-real">
	                 #set($storesearcher = $searcherManager.getSearcher($catalogid, "profile_address_list" ))
	                 #set($rogers = $user.isInGroup("rogers"))
	                  <!-- 
	                 #set($query = $storesearcher.createSearchQuery())
	                 $query.addMatches("profileid", "$user.id")
	                 $query.setSortBy("level")
	                 #set($stores = $storesearcher.search($query) )
	                  -->
	         <form action="$home$apphome/shoppingbag.html" method="post">   
     	                 	                              <input type="hidden" name="forcenew" value="true"/>
     
	                 <table id="store-table">
	                 <tr class="tableheader">
	                 <td><b>Store</b></td>
	                 #if($rogers)
	                 <td><b>Store Level</b></td>
	                 #end
	                 <td><b>Quantity</b></td>
	                 </tr>
	                 	                              <input type="hidden" name="field" value="store"/>
	                 
	                 #foreach($store in $stores)
	                 <tr>


	                   <td>$store<br/>
	                   $store.address1<br/>
	                   $!store.address2<br/>
	                   $store.city<br/>
	                   $store.province<br/>
	                   
	                    </td>
				     #if($rogers)
				       <td>$!store.level</td>
				       #end
	                   				<input type="hidden" name="productid.$velocityCount" value="$product.id"/>
	                              <td><input type="text" class="quantity"  value="" name="quantity.$velocityCount" size=4>
	                              <br/><a style="display: none;" class="applytoall" href="#">Apply to All</a>
	                              </td>
	                              <input type="hidden" name="store.value.$velocityCount" value="$store.id"/>
	                 </tr>
	                 
	                 #end
	                 <tr><td></td>#if($rogers)<td></td>#end<td><input type="submit" value="[[Add to Order]]"/></td></tr>
	                 <input type="hidden" name="orderid" value="current"/>
	                 </table>

 
                </div>
			</form>



</div>

<script type="text/javascript">

jQuery(".applytoall").click(function () {
	
	
	var amount = jQuery(this).siblings("input[type='text']").val();
	jQuery(".quantity").val(amount);
	
	return false;
	
	
});

jQuery(".quantity").change(function () {
	var amount = jQuery(this).val();
	jQuery(".applytoall").hide();
	if(amount){
		
		jQuery(this).siblings(".applytoall").fadeIn();
	}
});



</script>