#set( $image = "/$store.productPathFinder.idToPath($product.id)" )

#set ($mediumend = "$home$cataloghome/downloads/preview/mediumplus/productimages/$product.sourcepath/thumb.jpg")
#set ($extralarge = "$home$cataloghome/downloads/preview/extralarge/productimages/$product.sourcepath/thumb.jpg")


<div class="product-image">
	<table>
		<tbody>
			<tr>
				<td class="previewImgHolder">
					<a class="thickbox" href="$mediumend" target="_parent" title="[[$product]]">
					    <img id="main-media" class="emdropshadow " src="$home$mediumend" alt="$!asset.name"/>
					</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>

###need to have at least one support image to show the thumbnails at the bottom
#if($product.get("supportimage1"))
	<div class="product-thumbs">
		#set($img = $product.image)
		#set($asset = $mediaarchive.getAssetSearcher().searchById($img))
		#set($dimension = "67")
		#set($args = "crop=true&prefwidth=$dimension&prefheight=$dimension&x1=0&y1=0&gravity=center")
		#set($link = "/$applicationid/views/modules/asset/downloads/converted/cache/${asset.sourcepath}/productimage.jpg?${args}")
		<img src="$link" class="emdropshadow selected swap" data-fullsize="$mediumend" alt="$asset.name">
		#set($range = [1..5])
		#foreach($i in $range)
			#set($img = false)
			#set($img = $product.get("supportimage${i}"))
			#if($img) 
				#set($asset = $mediaarchive.getAssetSearcher().searchById($img))
				#if($asset)
					#set($dimension = "67")
					#set($args = "crop=true&prefwidth=$dimension&prefheight=$dimension&x1=0&y1=0&gravity=center")
					#set($dimension = "350")
					#set($largeargs = "crop=true&prefwidth=$dimension&prefheight=$dimension&x1=0&y1=0&gravity=center")
					#set($link = "/$applicationid/views/modules/asset/downloads/converted/cache/${asset.sourcepath}/productimage.jpg?${args}")
					#set($fullsizelink = "/$applicationid/views/modules/asset/downloads/converted/cache/${asset.sourcepath}/productimage.jpg?${largeargs}")
					<img src="$link" class="emdropshadow notselected swap" data-fullsize="$fullsizelink" alt="$asset.name">
				#end
				#set($asset = false)
			#end
		#end
	</div>
	<script>
	$(".swap").on("click",function(){
		var url = $(this).data("fullsize");
		$("#main-media").attr("src",url);
		$("#main-media").parent().attr("href",url);
		var active = $('.product-thumbs .selected');
		$(active).removeClass("selected");
		$(active).addClass("unselected");
		$(this).removeClass("unselected");
		$(this).addClass("selected");
	});
	</script>
#end

<style>
.draft{
	border-style:solid;
	border-width:1px;
	border-color:black;
}
.prdImg {
    clear: left;
    margin-bottom: 8px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    z-index: 5;
}
.selected{
	border: 2px solid rgb(0, 128, 0);
    border: 2px solid rgba(0, 128, 0, .5);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}
.notselected{
}
</style>