#set($distributorsearcher = $searcherManager.getSearcher($catalogid, "distributor"))
#set($manufacturersearcher = $searcherManager.getSearcher($catalogid, "manufacturer"))

#set($productsearcher = $searcherManager.getSearcher($catalogid, "product"))

#if (!$value)
  #set ($value = $context.getRequestParameter("manufacturerid.value"))
  #if(!$value)
  	#set($searchtype = $context.getRequestParameter("searchtype"))
  	#if($searchtype == "ticket")
		#set($ticketid = $context.getRequestParameter("id"))
		#set($ticket = $searcherManager.getData($catalogid, "ticket", $ticketid))
		#set($productid = $ticket.get("product"))
  	#else
	  	#set($productid = $context.getRequestParameter("productid"))
	#end
  	#set($product = $productsearcher.searchById($productid))
	#set($value = $product.get("manufacturerid"))
  #end
#end
#if(!$value)
	#set($value = $val)	
#end

#set($isDistributor = $userprofile.get("distributor"))

#set($distributor = $searcherManager.getData($catalogid, "distributor", $isDistributor))
<select style="margin-top: 8px;" id="list-phone" data-placeholder=" " name="manufacturerid.value" 
	class="choose-select autosubmited  required  ">
	<option value=""></option>
	#if($distributor)
		#set($distributor = $distributorsearcher.searchById($distributor.getId()))
		#set($manufacturerList = $distributor.getValues("manufacturer"))
		#foreach($manufacturer in $manufacturerList)
			#set($target = $manufacturersearcher.searchById($manufacturer)))
			<option value="$target.getId()" #if( $value && $target.getId() == $value ) selected #end>$target.get("name")</option>
		#end
	#else
		#set($manufacturerList = $mediaarchive.getSearcher("manufacturer").fieldSearch("id", "*", name))
		#foreach($manufacturer in $manufacturerList)
			<option value="$manufacturer.getId()" #if( $value && $manufacturer.getId() == $value ) selected #end>$manufacturer</option>
		#end
	#end
</select>