#set($productsearcher = $searcherManager.getSearcher($catalogid, "product"))
#set ( $ordernumber = $order.orderNumber )
#set ( $shippingAddress = $order.getShippingAddress() )
#set ( $billingAddress = $order.getBillingAddress() )
#set ( $customer = $order.customer )
#set ( $orderdate = $order.get("orderdate") )
#set ( $distributor = $distributorsearcher.searchById($invoice.get("distributor")) )
#set ( $subtotal = "0" )

#if ( $shippingAddress.address1 == $billingAddress.address1 )
	#set ( $customerAddress = $order.getBillingAddress() )
#else
	#set ( $customerAddress = $order.getShippingAddress() )
#end

<table width="90%" border="0" align="center">
	<tr>
		<td align="center">
			<span style="font-size:20px"><strong>AREA COMMUNICATIONS INVOICE</strong></span>
		</td>
	</tr>
	<tr>
		<td align="center">
			<span style="font-size:20px">&nbsp;</span>
		</td>
	</tr>
	<tr>
		<td align="center">
			<table border="0" width="100%">
				<tr>
					<td align="left" valign="top" nowrap="nowrap" style="margin-right: 20px;"><strong>DATE :</strong></td>
					<td valign="top" nowrap width="100%">$orderdate</td>
					<td align="right" nowrap><strong>Order #$ordernumber</strong></td>
				</tr>
				<tr>
					<td valign="top" nowrap="nowrap"><strong>FROM:</strong></td>
					<td style="margin-left: 20px;"><span style="font-size:20px"><strong>Area Communications</strong></span><br>
					<span style="font-size:16px">1 Hurontario St.<BR>
					Suite 220<br>
					Mississauga, ON<BR>
					L5G 0A3<br>
					Phone: 905-271-2732<br>
					Fax: 905-271-7724</span>
					</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td valign="top" nowrap="nowrap" style="margin-right: 20px;"><strong>SOLD TO:</strong></td>
					<td valign="top" align="left">
						<p>
							$!customer.getFirstName() $!customer.getLastName()<br>
							$!customerAddress.address1<br>
							#if ( $customerAddress.address2 && $customerAddress.address2 != "" )
								$customerAddress.address2<br>
							#end
							$!customerAddress.city #if ($customerAddress.state || $customerAddress.zipCode || $customerAddress.country),#end $!customerAddress.state $!customerAddress.zipCode $!customerAddress.country<br>
							#if ($customer.phone1)Phone: $customer.phone1<br> #end
							#if ($customer.email)Email: $customer.email<br> #end
							#if ($customer.fax )Fax: $!customer.fax<br>	#end
						</p>
					</td>
				</tr>
				<tr>
					#if ( $order.shippingAddress && $order.shippingAddress.address1 && $order.billingAddress && $order.billingAddress.address1 )
					<td valign="top" nowrap="nowrap" style="margin-right: 20px;"><strong>SHIP TO:</strong></td>
					<td valign="top" align="left">
						<p>
							$order.shippingAddress.name<br>
							$order.shippingAddress.address1<br>
							#if ( $order.shippingAddress.address2 && $order.shippingAddress.address2 != "" )
								$order.shippingAddress.address2<br>
							#end
							$order.shippingAddress.city, $order.shippingAddress.state $order.shippingAddress.zipCode $!order.shippingAddress.country<br>
						</p>
					#end
					</td>
				</tr>
				<tr>
					<td valign="top" align="center" colspan="3">
						<p><strong>ORDER DETAILS:</strong></p>
						<table border="1" width="100%" cellspacing="0" cellpadding="4">
							<thead>
								<tr class="results-list-head">
									<th align="center" class="results-list-head">Item SKU</th>
									<th align="left" class="results-list-head">Product ID</th>
									<th align="center" width="100"  class="results-list-head">Quantity</th>
									<th align="right" class="results-list-head">Unit Price</th>
									<th align="right" class="results-list-head">Line<br>Total</th>
								</tr>
							</thead>
							<tbody>
							#set( $types = $searcherManager.getList($catalogid ,"itemstatus") )
							
						#set($itemCounter = 0)
						#foreach ( $item in $order.items )
							#set($path ="$apphome/products/${store.getProductPathFinder().idToPath($item.getProduct().getId())}.html")
							#set($itemCounter = $itemCounter + 1)
							#set( $product = $store.getProductSearcher().searchById($item.product.id) )
							<tr>
								<td align="center">$item.sku</td>
								<td>$product.getName()
								<td align="center">$item.quantity</td>
								<td align="right">$item.yourPrice</td>
								<td align="right">$item.getTotalPrice()</td>
							</tr>
					    #end
							<tr style="border-top: 1px solid black;">
								<td colspan="4" align="right">Subtotal:&nbsp;&nbsp;</td>
								<td align="right">$order.getSubTotal()</td>
							</tr>
						#if ( $order.getTotalShipping() && $order.getTotalShipping() != "0.00" )
							<tr>
								  <td colspan="4" align="right">Shipping:&nbsp;&nbsp;</td>
								  <td align="right">$order.getTotalShipping()</td>
							</tr>
						#else
							<tr>
								  <td colspan="4" align="right">Shipping:&nbsp;&nbsp;</td>
								  <td align="right">$0.00</td>
							</tr>
						#end
							<tr>
								<td colspan="4" align="right">Tax (HST# 88887 3270 RT0001):&nbsp;&nbsp;</td>
								<td align="right">$order.tax</td>
							</tr>
							<tr>
								<td colspan="4" align="right"><b>Grand Total:&nbsp;&nbsp;</b></td>
								<td align="right"><b>$order.totalPrice</b></td>
							</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
