#set($dealersearcher = $searcherManager.getSearcher("$catalogid", "dealer"))
#set($dealerlist = $dealersearcher.getAllHits())	

<div class="ui-widget uipanel">
	<form action="newuser.html" method="post">
		<table class="rogers-list">
	    <tr>
	    	<td class="rogers-list-header" colspan="2">
	    		<div class="ui-widget-header">Add User Associated to Dealer</div>
	    	</td>
	    </tr>
		<tr>
			<td class="rogers-list">First Name:</td>
			<td class="rogers-list"><input type="text" name="user.firstname"/></td>
		</tr>
		<tr>
			<td class="rogers-list">Last Name:</td>
			<td class="rogers-list"><input type="text" name="user.lastname"/></td>
		</tr>
		<tr>
			<td class="rogers-list">User ID:</td>
			<td class="rogers-list"><input type="text" name="user.id"/></td>
		</tr>
		<tr>
			<td class="rogers-list">User Password:</td>
			<td class="rogers-list"><input type="password" name="user.password"/></td>
		</tr>
		<tr>
			<td class="rogers-list">Retype Password:</td>
			<td class="rogers-list"><input type="password" name="user.password.retype"/></td>
		</tr>
		<tr>
			<td class="rogers-list">Email Address:</td>
			<td class="rogers-list"><input type="text" name="email"/></td>
		</tr>
		<tr>
			<td class="rogers-list">Address 1</td>
			<td class="rogers-list"><input type="text" name="address1" /></td>
		</tr>
		<tr>
			<td class="rogers-list">Address 2</td>
			<td class="rogers-list"><input type="text" name="address2" /></td>
		</tr>
		<tr>
			<td class="rogers-list">City</td>
			<td class="rogers-list"><input type="text" name="city" /></td>
		</tr>
		<tr>
			<td class="rogers-list">Province / State</td>
			<td class="rogers-list"><input type="text" name="state" /></td>
		</tr>
		<tr>
			<td class="rogers-list">Country</td>
			<td class="rogers-list"><input type="text" name="country" /></td>
		</tr>
		<tr>
			<td class="rogers-list">Postal / Zip Code</td>
			<td class="rogers-list"><input type="text" name="zipcode" /></td>
		</tr>
		<tr>
			<td class="rogers-list">Dealer</td>
			<td class="rogers-list">
				<select name="dealer" size="1">
#foreach($dealer in $dealerlist)
	#set($id = $dealer.getId())
	#set($name = $dealer.get("name"))
					<option value="$id">$name</option>
#end
				</select>
			</td>
		</tr>
		<tr id="submit">
			<td colspan="2" class="rogers-list-white">
				<input type="hidden" name="action" value="add"/>
				<input type="submit" name="submit" value="Add New Dealer" class="btn"/>
			</td>
		</tr>
		</table>
	</form>
</div>