<div class="ui-widget uipanel">
	#if($canviewtesting)
		#set($dealersearcher = $searcherManager.getSearcher("$catalogid", "dealer"))
		#set($dealerlist = $dealersearcher.getAllHits())	
	    <p><table class="rogers-list">
	        <tr>
	        	<td class="rogers-list-header" colspan="2"><div class="ui-widget-header">Current Dealers</div>
	        	</td>
	        </tr>
	        <tr>
	        	<td class="rogers-list-a">ID</th>
	        	<td class="rogers-list-a">Name</th>
	        </tr>
#foreach($dealer in $dealerlist)
	#set($id = $dealer.getId())
	#set($name = $dealer.get("name"))
	        <tr>
	        	<td class="rogers-list-white">$id</td>
	        	<td class="rogers-list-white">$name</td>
	        </tr>
#end
		</table></p>
		
	    <p><table class="rogers-list">
	        <tr>
	        	<td class="rogers-list-header"><div class="ui-widget-header">Current Actions</div>
	        	</td>
	        </tr>
	        <tr>
	        	<td class="rogers-list"><a href="create.html">Create a new dealer</a></td>
	        </tr>
	        <tr>
	        	<td class="rogers-list"><a href="dealerimport.html">Import a New Dealer List of IDs</a></td>
	        </tr>
	        <tr>
	        	<td class="rogers-list"><a href="adduser.html">Add a user associated to a dealer</a></td>
	        </tr>
	        <tr>
	        	<td class="rogers-list"><a href="import.html">Import Dealer CSV File</a></td>
	        </tr>
	    </table></p>
	#end
</div>	