#set($result = $context.getRequestParameter("result"))
#set($results = $context.getRequestParameter("results"))
#set($dealername = $context.getRequestParameter("dealername"))
<div class="ui-widget uipanel">
	<table class="rogers-list">
	    <tr>
	    	<td class="rogers-list-header" colspan="2">
	    		<div class="ui-widget-header">Add New Dealer</div>
	    	</td>
	    </tr>
#if($result == "created")
		<tr id="result">
			<td colspan="2" class="rogers-list-white">
				<ul>
					<li>$results: $dealername</li>
				</ul>
			</td>
		</tr>
#end
#if($result == "error")
		<tr id="result">
			<td colspan="2" class="rogers-list-white">
				<ul>
					<li>ERROR: $results</li>
				</ul>
			</td>
		</tr>
#end
	</table>
</div>