#set($distributorsearcher = $mediaarchive.getSearcher("distributor"))
#set($query = $distributorsearcher.createSearchQuery())
#set($null = $query.addMatches("id","*"))
#set($null = $query.addSortBy("name"))
#set($hits = $distributorsearcher.search($query))
<div class="quickjump">
		<label for="dropdown-list">Distributors</label>
		<select name="dropdown-list" class="distributor-dropdown">
			<option value="none"></option>
			#set($count = 0)
  			#foreach($hit in $hits)
  				#if($hit.url && $hit.name)
  				 <option value="$!{hit.url}">$!{hit.name}</option>
  				 #set($count = $count + 1)
 				#end
 			#end
		</select>
		#if($count == 0)
			<script>
			$(document).ready(function(){
				$('.quickjump').css('display','none');
			});
			</script>
		#end
</div>
<script>
$('.distributor-dropdown').change(function() {
	var url = $(this).val();
	$(this).val("");//reset it
	if(url!=undefined && url != 'none'){
		//need to add autologin
		var win = window.open("http://"+url,"_blank","","");
		win.focus();
	}
});
</script>