<div class="subcolumns" style="border: 1px solid #CCC;">
    <div class="c25l" id="left-col">
        <div class="subcl">
		#if($user.isInGroup("fido") && !$user.isInGroup("rogers"))
			<a href="$home$apphome/index.html">
				<img class="logo" src="$home$themeprefix/images/fido.png" alt="EnterMedia Share" style="padding-left: 35px; padding-top: 15px;" />
			</a>
		#elseif($user.isInGroup("rogers") && $user.isInGroup("fido"))
			<a href="$home$apphome/index.html">
				<img class="logo" src="$home$themeprefix/images/both.png" alt="EnterMedia Share" style="padding-left: 20px; padding-top: 0px;" />
			</a>
		#else
			<a href="$home$apphome/index.html" style="margin-left: -12px;">
				<img class="logo" src="$home$themeprefix/images/rogers_acc_portal_logo_small.png" height="56px; alt="EnterMedia Share" />
			</a>
		#end
        </div>
	</div>
    <div style="padding: 20px;">
   		<div id="headernav">
	 	#if($user)
	 		<h1 style="margin-top: 1px; color: #49494B;">                        
     			<img class="arealogo" src="$home$themeprefix/images/area_acc_banner_logo.png" height="80px;" alt="Area Accessories Portal" />
				<span style="margin-right: 20px;float:right;font-size:smaller;">
				#set($firstname = $userprofile.get("firstname"))
				#if ($firstname)
					[[Welcome]] $firstname&nbsp;
				#end
				</span>
  		 	</h1>
	 	#end
	 	#set ($lastselected = $content.module )
	 	#if(!$lastselected)
	 		#set($lastselected = $userprofile.last_selected_module )
	 	#end
	 	#if(!$lastselected)
       		#set($lastselected = "asset" )
        #end
	 	#set($module = $searcherManager.getData($catalogid, "module", $lastselected ) )
			<span class="navlinks">
			#if( $user )
				#if( $canviewmyaccount )
					<a href="$home$apphome/views/myaccount/index.html">[[My Account]]</a> | <a href="$home$apphome/views/modules/contactrequest/public/">[[Contact Us]]</a> |
				#end	
				<a href="$home$apphome/authentication/logout.html">[[Logout]]</a>
			#else
				<a href="$home$apphome/index.html" style="top:25px;">                    
			    	<img class="arealogo" src="$home$themeprefix/images/area_acc_banner_logo.png" height="80px;" alt="Area Accessories Portal" />
				</a>
			#end	
			#if($canviewsettings)
			|	<a #if ( $module ) href="$home$apphome/views/settings/modules/$module.id/index.html" #else href="$home$apphome/views/settings/index.html" #end>[[Settings]]</a>
			|	<a href="$home/manager/index.html">[[Manager]]</a>
			#end
        	</span>
		</div>
	</div>
</div>