 
 <ul class="emheaderbuttons" >
<li><a id="home"  href="$home$apphome/index.html"> Home </a></li>
<li><a id="home"  href="$home$apphome/categories/index.html"> Browse </a></li>

#set ($lastselected = $content.module )
 	#if(!$lastselected)
 		#set($lastselected = $userprofile.last_selected_module )
 	#end
 	#if(!$lastselected)
        #set($lastselected = "asset" )
    #end
    
    
#set($module = $searcherManager.getData($catalogid, "module", $lastselected ) )





 



<li  style="float: right;">
 	  <a href="$apphome/shoppingbag.html">View Cart</a>
 </li>

<li style="float: right; border:0px;  padding-right: 132px; padding-top: 3px;">
	<div id="searchform" class="">
		<form target="_parent" name="qsearch" action="$home$apphome/search/results.html">
#if( $hits.userQuery.length() > 0 && !$hits.userQuery.contains("[") )
<input name="query" size="18" value="$!url_util.xmlEscape($hits.userQuery)" type="text" />
#else
<input name="query" type="text" size="18" value="Store Search" onclick="value='';" /> 
#end
</form>
	</div>
</li>

 


 </ul>
<div style="float:right; margin-top:-30px;">





</div>