 
 <ul class="emheaderbuttons" >
<li><a id="home"  href="$home$apphome/index.html"> [[Home]] </a></li>
#if($canbrowseproducts)
<li style="border-right: 1px solid #CCCCCC;"><a id="home"  href="$home$apphome/browse.html">[[ Browse ]]</a></li>
#end
#set ($lastselected = $content.module )
 	#if(!$lastselected)
 		#set($lastselected = $userprofile.last_selected_module )
 	#end
 	#if(!$lastselected)
        #set($lastselected = "asset" )
    #end
    
    
#set($module = $searcherManager.getData($catalogid, "module", $lastselected ) )





	#if($canviewdistributorsection)

<li><a href="$apphome/distributors/myproducts.html">[[My Products]]</a></li>

    #end
	#if($canviewrogerstools)
                	<li><a href="$apphome/rogers/">[[Rogers Tools]]</a></li>
    #end



 


#if ($canviewrogerstools)

	#set( $urlbase = "$home$apphome/views/modules" )
	#set ( $modules = $searcherManager.getList($catalogid, "module") )

#if( $modules.size() > 1)
<li style="border-right: 1px solid #CCCCCC;"><a id="module" class="flat-right" #if ( $module ) href="$home$apphome/views/modules/${module.getId()}/index.html" #else  href="$home$apphome/index.html" #end>#if ( $module ) [[Admin]] #else [[Home]] #end</a><a id="module-dropdown" class="flat-left" href="#"><span></span></a>
	<ul id="module-list" style="display: none;">
		
		#foreach ( $module in $modules )
			<li><a href="$urlbase/${module.id}/index.html?field=last_selected_module&last_selected_module.value=${module.id}">$module</a></li>
		#end
	</ul>
</li>

#elseif( $canviewhomelink )

<li><a id="module"  href="$home$apphome/views/modules/${module.getId()}/index.html">[[ Home ]]</a></li>
#end


#end

#if($canviewcart)
<li  style="float: right; width: 150px; height: 46px; ">
 	  <a href="$apphome/shoppingbag.html">[[View Cart]]</a><img style="padding-top: 12px;" src="$apphome/theme/images/cart.png"/>
 </li>
#end

#if($canbrowseproducts)
<li style="float: right; border:0px;  padding-right: 132px; padding-top: 3px;">
	<div id="searchform" class="">
		<form target="_parent" name="qsearch" id="qsearch" action="$home$apphome/search/results.html">
		#set($query = $hits.getUserQuery() )
		#if( $query && !$query.isEmpty() && !$query.contains("[") )
		<input name="query" size="18" value="$!url_util.xmlEscape($query)" type="text" class="sinput" />
		#else
		<input name="query" type="text" size="18" value="[[Store Search]]" onclick="value='';" class="sinput" /> 
		#end
 

</form>
<img id="search-submit" src="/ecommerce/theme/images/search_icon.png" name="Go" value="Go"  align="right" style="margin-top: -30px;"/>

	</div>
	
</li>
#end
 


 </ul>
<div style="float:right; margin-top:-30px;">





</div>
<script type="text/javascript"">
jQuery("#search-submit").bind("click", function(){
	jQuery("#qsearch").submit();
		
	
});

</script>