<h2>Ticket History</h2>

#set($ticketsearcher = $mediaarchive.getSearcher("ticket"))
	#set($productsearcher = $mediaarchive.getSearcher("product"))

#set($ticketid = $context.getRequestParameter("id"))
			#set($ticket = $searcherManager.getData($catalogid, "ticket", $ticketid))
			#set($approved = $ticket.get("approval"))
	
	
		

$context.putPageValue("caneditdata", false)
$pages.include("$apphome/views/modules/ticket/edit/table.html?id=$ticketid&viewid=ticketticket_history&viewpath=ticket/ticketticket_history&hitssessionid=hitsticketmedia/catalogs/store&print=true", $context)


	#set($searcher = $mediaarchive.getSearcher("product"))
			#set($productid = $ticket.get("product"))
			#set($product = $searcherManager.getData($catalogid, "product", $productid))
					
			#set($view = "product/productsubmit_for_review")
			$context.putPageValue("view", $view)
			$context.putPageValue("searcher", $searcher)	 
			$context.putPageValue("data", $product)	

<div class="ui-widget uipanel">

<div class="ui-widget-header">Update Current Ticket</div>
	#set($tickethistoryid = $context.getRequestParameter("tickethistoryid"))
		#if($tickethistoryid)
			<p>Ticket History has been updated.</p>
		#end
		<form name="submitproduct" action="$apphome/views/myaccount/tickets/updateticket.html" method="post" >
			<table cellpadding="5">
				<tr>
					<td valign="bottom" nowrap>Status:</td>
					<td><p><input type="radio" name="ticketstatus" value="open" #if($ticket.get("ticketstatus") == "open") checked="true" #end>Open</p></td>
					<td><p><input type="radio" name="ticketstatus" value="closed" #if($ticket.get("ticketstatus") == "closed") checked="true" #end>Closed</p></td>
				</tr>
				<tr>
					<td>Notes:</td>
					<td>Current Note:</td>
					<td>New Note:</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td><textarea rows="4" cols="40" readonly>$!ticket.get("notes")</textarea></td>
					<td><textarea rows="4" cols="40" name="notes"></textarea></td>
				</tr>
				<tr>
					<td colspan="3">
					   #if($product)
					   	<input name="productid" type="hidden" value="$!product.id" />
					   	#end
					   	<input name="ticketid" type="hidden" value="$!ticket.id" />
						<p><input type="submit" name="submit" value="Update this ticket"/></p>
					</td>
				</tr>
			</table>
		</form>
	</div>
