<h1>[[Support Tickets]] <br/><a class="btn" href="addnew.html">[[Add New Ticket]]</a></h1>
#set($hits = $mediaarchive.getSearcher("ticket").fieldSearch("owner", $userprofile.id, "ticketstatus"))

$context.putPageValue("hits", $hits)
$context.putPageValue("searcher", $mediaarchive.getSearcher("ticket"))
$context.putPageValue("view", "ticket/myaccount")
$context.putPageValue("showselections", "false")




$context.putPageValue("clink", "$apphome/views/myaccount/tickets/history.html")


$pages.include("$apphome/components/moduleresults/results.html", $context)
