#set($notifyme = $context.getRequestParameter("notifyme"))
#set($notification = $context.getRequestParameter("notification"))
#set($productid = $context.getRequestParameter("productid"))

<div class="ui-widget uipanel">
	<div class="ui-widget-header">[[Ticket Request Complete]]. <!-- $notification --></div>
	<p><strong><p>[[A request for this product has been created]].</strong></p>
	#if($notification == "setup")
		<li>[[You will be notified by email when there is stock for this product.]]</li>
		<li>[[Email notification has been setup.]]</li>
	#else 
		#if($notification == "noemail")
			<ul>
				<li><strong>[[An email notification cannot be setup because you do not have a valid email address set in your profile.]]</strong></li>
				<li>[[To have email notifications setup in the future, please go to the]] 
					<a href="${content.siteroot}${home}${apphome}/views/myaccount/index.html">[[My Account]] 
					[[section]]</a> [[and update your profile]].</li>
			</ul>
		#else
			#if($notification == "duplicate")
				<ul>
					<li>[[Email notification has not been setup. This product notification already exists.]]</li>
				</ul>
			#end
		#end
	#end
	<p><br>
	<a href="${content.siteroot}${home}${apphome}/browse.html">[[Return back to Browse more products]].</a></p>
</div>
