<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-lazy-init="true">
 	<bean id="customerDirectory" class="java.io.File">
 		<constructor-arg><ref bean="root"/></constructor-arg>
		 <constructor-arg><value>/WEB-INF/users</value></constructor-arg>
	</bean>	



  <bean id="CartModule" class="org.openedit.store.modules.CartModule">
  </bean>
  
  <bean id="StoreSearchModule" class="org.openedit.store.modules.StoreSearchModule">
  	<property name="searchQueryArchive"><ref bean="searchQueryArchive"/></property>  
  </bean>
  
  <bean id="FolderModule" class="org.openedit.store.modules.FolderModule">
  </bean>
  
  <bean id="storeOrderSearcher" class="org.openedit.store.orders.OrderSearcher"  singleton="false">
  	  		<property name="rootDirectory"><ref bean="root"/></property>
  	  			<property name="moduleManager"><ref bean="moduleManager"/></property>
  	  		  	  	<property name="storeArchive"><ref bean="storeArchive" /></property>
  	  		  	
  </bean>
  
  
  <bean id="productSearcher" class="org.openedit.store.search.ProductLuceneSearcher" singleton="false">
  	<property name="webEventListener"><ref bean="storeEventHandler"/></property>
    <property name="rootDirectory"><ref bean="root"/></property>
    <property name="pageManager"><ref bean="pageManager" /></property>
  	<property name="storeArchive"><ref bean="storeArchive" /></property>
  </bean>
  
  <bean id="CatalogModule" class="org.openedit.store.modules.CatalogModule">
  <property name="requestUtils"><ref bean="requestUtils" /></property>
  </bean>
  <bean id="CatalogEditModule" class="org.openedit.store.modules.CatalogEditModule">
  	<property name="webEventListener"><ref bean="storeEventHandler"/></property>
  
  </bean>
  <bean id="StoreOrderModule" class="org.openedit.store.modules.OrderModule">
 	<property name="emailOrderProcessor"><ref bean="emailOrderProcessor" /></property>
 	<property name="webEventListener"><ref bean="storeEventHandler"/></property>
  </bean>
  <bean id="ProductControlModule" class="org.openedit.store.modules.ProductControlModule">
 
  </bean>

<bean id="storeArchive" class="org.openedit.store.xmldb.XmlStoreArchive" >
	<property name="moduleManager"><ref bean="moduleManager"/></property>
  	<property name="pageManager"><ref bean="pageManager" /></property>
  		<property name="scriptManager"><ref bean="scriptManager" /></property>
 </bean>

  	<bean id="store" class="org.openedit.store.Store" singleton="false">
  		<property name="rootDirectory"><ref bean="root"/></property>
  		<property name="webEventListener"><ref bean="storeEventHandler"/></property>
  		<property name="xmlArchive"><ref bean="xmlArchive"/></property>
		<property name="orderProcessor"><ref bean="compositeOrderProcessor"/></property>
		<property name="orderGenerator"><ref bean="baseOrderGenerator"/></property>
  		<property name="electronicOrderManager"><ref bean="electronicOrderManager" /></property>
  		<property name="searcherManager"><ref bean="searcherManager"/></property>
		<property name="storeMediaManager"><ref bean="storeMediaManager"/></property>
		<property name="productSecurityArchive"><ref bean="productSecurityArchive" /></property>
		<property name="moduleManager"><ref bean="moduleManager"/></property>
				<property name="pageManager"><ref bean="pageManager"/></property>
		
  	</bean> 



 


  <bean id="productArchive" class="org.openedit.store.xmldb.XmlProductArchive" singleton="false">
  	<property name="pageManager"><ref bean="pageManager" /></property>
  	<property name="xmlUtil"><ref bean="xmlUtil"/></property>
	<property name="storeArchive"><ref bean="storeArchive" /></property>
  </bean> 

  <bean id="storeCategoryArchive" class="org.openedit.store.xmldb.XmlCategoryArchive" singleton="false">
  	<property name="pageManager"><ref bean="pageManager" /></property>
  	<property name="xmlUtil"><ref bean="xmlUtil"/></property>
  </bean> 

  <bean id="priceBasedShipping"
	class="org.openedit.store.shipping.PriceBasedShippingMethod" singleton="false"/>

  <bean id="weightBasedShipping"
	class="org.openedit.store.shipping.WeightBasedShippingMethod" singleton="false"/>
	
  <bean id="CatalogLinkLoader" class="org.openedit.store.links.XmlCatalogLinkLoader" singleton="false">
	<property name="xmlUtil"><ref bean="xmlUtil"/></property>
  </bean>

 <bean id="StoreLinkModule" class="org.openedit.store.links.StoreLinkModule" init-method="init">
	
  </bean>

  <bean id="customerArchive" class="org.openedit.store.xmldb.XmlCustomerArchive">
  	<property name="customersDirectory"><ref bean="customerDirectory" /></property>  
  	<property name="userManager"><ref bean="userManager" /></property>
  </bean>

<bean id="compositeOrderProcessor" class="org.openedit.store.orders.CompositeOrderProcessor" >
 	<property name="moduleManager"><ref bean="moduleManager"/></property>
 	<property name="orderProcessors">
		<list>
		
		    <value>directPaymentProcessor</value>
			<value>paypalOrderProcessor</value>
			<value>beanstreamOrderProcessor</value>		
			<value>freshbooksOrderProcessor</value>
			<value>elevonOrderProcessor</value>
			<value>authorizeNetOrderProcessor</value>
			<value>electronicGoodsOrderProcessor</value>
			<value>scriptedOrderProcessor</value>
			<value>emailOrderProcessor</value>
						
			
		</list>
	</property>
</bean>

  <bean id="scriptedOrderProcessor" class="org.openedit.store.gateway.ScriptedOrderProcessor">
          <property name="moduleManager"><ref bean="moduleManager" /></property>
          <property name="scriptManager"><ref bean="scriptManager" /></property>     
          
  </bean>  


    <bean id="elevonOrderProcessor" class="org.openedit.store.gateway.ElevonOrderProcessor">
          <property name="pageManager"><ref bean="pageManager" /></property>     
  </bean>   
       <bean id="directPaymentProcessor" class="org.openedit.cart.paypal.DirectPaymentsProcessor">
         <property name="userManager"><ref bean="userManager" /></property>     
  </bean>   
  <bean id="storeCatalogImportConverter" class="org.openedit.store.convert.CompositeConverter" >
  	<property name="moduleManager"><ref bean="moduleManager"/></property>
  	
	<property name="catalogConverters">
  		<list>
			<value>csvConverter</value>
			<value>genericConverter</value>
			<value>mainFrameConverter</value>
		</list>
	</property>
  </bean>

  <bean id="baseOrderGenerator" class="org.openedit.store.orders.BaseOrderGenerator" />

  <bean id="orderArchive" class="org.openedit.store.XmlOrderArchive" >
	  <property name="postMail"><ref bean="postMail" /></property>
	  <property name="stringEncryption"><ref bean="stringEncryption" /></property>
	  <property name="cacheManager"><ref bean="cacheManager" /></property>
	  
  </bean>
  
  <bean id="emailOrderProcessor" class="org.openedit.store.orders.EmailOrderProcessor" >
  	<property name="pageManager"><ref bean="pageManager" /></property>
	<property name="postMail"><ref bean="postMail" /></property>
  </bean> 

 <bean id="paypalOrderProcessor" class="org.openedit.cart.paypal.PaypalOrderProcessor" >
  	<property name="pageManager"><ref bean="pageManager" /></property>
	<property name="postMail"><ref bean="postMail" /></property>
  </bean> 

  <bean id="authorizeNetOrderProcessor" class="org.openedit.store.gateway.AuthorizeNetOrderProcessor">
  </bean>





  <bean id="beanstreamOrderProcessor" class="org.openedit.store.gateway.BeanstreamOrderProcessor">
    	<property name="pageManager">
    		<ref bean="pageManager" />
    	</property>
    	<property name="beanstreamUtil">
    		<ref bean="beanstreamUtil" />
    	</property>
    	<property name="userManager">
    		<ref bean="userManager" />
    	</property>
  
  </bean>
  
  
  <bean id="freshbooksOrderProcessor" class="org.openedit.cart.freshbooks.FreshbooksOrderProcessor">
    	<property name="pageManager">
    		<ref bean="pageManager" />
    	</property>
    	<property name="userManager">
    		<ref bean="userManager" />
    	</property>
    	<property name="searcherManager">
    		<ref bean="searcherManager"/>
    	</property>  
  
  </bean>	
  
  <bean id="freshbooksManager" class="org.openedit.cart.freshbooks.FreshbooksManager">
    	<property name="searcherManager">
    		<ref bean="searcherManager"/>
    	</property>  
  
  </bean>


  <bean id="electronicGoodsOrderProcessor" class="org.openedit.store.orders.ElectronicGoodsOrderProcessor">
  		<property name="pageManager"><ref bean="pageManager" /></property>
  		<property name="moduleManager"><ref bean="moduleManager"/></property>
  </bean>
  
  <bean id="ProductAdder" class="org.openedit.store.ProductAdder"  >
  </bean> 
  
  <bean id="PaypalModule" class="org.openedit.store.modules.PaypalModule"  >
  
  </bean> 
<bean id="VotingModule" class="org.openedit.store.modules.VotingModule">
  	
  </bean>

  <bean id="genericConverter" class="org.openedit.store.excelconvert.GenericExcelConvert"/>


  <bean id="csvConverter" class="org.openedit.store.convert.CsvConverter"/>

  <bean id="mainFrameConverter"	class="org.openedit.store.convert.MainFrameConverter"/>

  
  
  <bean id="electronicOrderManager" class="org.openedit.store.process.ElectronicOrderManager" >
 
  	<property name="pageManager"><ref bean="pageManager" /></property>
  
  </bean>
  
  <bean id="productSecurityArchive" class="org.openedit.store.search.XmlProductSecurityArchive" >
     <property name="pageManager"><ref bean="pageManager" /></property>
     
  
  </bean>
  
 
  
  <bean id="editLogSearcher" 
		class="org.openedit.logger.LuceneLogSearcher" singleton="false" >
		<property name="rootDirectory">
			<bean class="java.io.File">
				<constructor-arg><ref bean="root"/></constructor-arg>
				<constructor-arg><value>/WEB-INF/logs</value></constructor-arg>
			</bean>
		</property>
		<property name="pageManager"><ref bean="pageManager"/></property>
	</bean>
  
  
  
  <bean id="storeEventHandler" class="org.openedit.event.WebEventCompositeHandler">
		<property name="webEventListeners">
			<list>
				<ref bean="logSearcherEventHandler"/>
				<ref bean="pathEventHandler" />
			</list>
		</property>
	</bean>
  
 
   
  <bean id="storeMediaManager" class="org.openedit.store.StoreMediaManager" singleton="false">
    
    <property name="pageManager"><ref bean="pageManager" /></property>
  	<property name="moduleManager"><ref bean="moduleManager" /></property>
  </bean>
  
  
   <bean id="DistributorModule" class="org.openedit.store.modules.DistributorModule">
  	<property name="searcherManager"><ref bean="searcherManager"/></property>  
  </bean>

 

	<bean id="addressSearcher" class="org.openedit.data.XmlFileSearcher"	singleton="false">
		<property name="pageManager"><ref bean="pageManager" /></property>
		<property name="xmlArchive"><ref bean="xmlArchive" /></property>
		<property name="searcherManager"><ref bean="searcherManager" /></property>
		<property name="rootDirectory"><ref bean="root" /></property>
		<property name="newDataName"><value>address</value></property>
		<property name="moduleManager"><ref bean="moduleManager" /></property>
		<property name="sourcePathCreator"><ref bean="chunkySourcePathCreator"/></property>
		
		<property name="prefix"><value>addresses</value></property>
	</bean>
	
	
	<bean id="address" class="org.openedit.store.customer.Address" singleton="false">
		
	
	</bean>
	
  
	<bean id="fbSearcher" class="org.openedit.cart.fresshbooks.FreshbooksSearcher"	singleton="false">
		<property name="pageManager"><ref bean="pageManager" /></property>
		<property name="xmlArchive"><ref bean="xmlArchive" /></property>
		<property name="searcherManager"><ref bean="searcherManager" /></property>
		
	</bean>
	
  
	<bean id="beanstreamUtil" class="org.openedit.store.gateway.BeanstreamUtil"	singleton="false">
		<property name="pageManager"><ref bean="pageManager" />
		</property>
		<property name="userManager"><ref bean="userManager" />
		</property>
		
	</bean>
</beans>
