p {
	font-family: Arial; 
	font-size: 10pt; 
	font-style: normal; 
	text-align: left;
}

ul {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10pt; 
	font-style: normal; 
	text-align: left;
}

BODY { background-color: #FFFFFF; }

.selectedtext { }

.breadcrumbs { color: gray; }