#set($productid = $context.getRequestParameter("productid"))
#set($quantity = $context.getRequestParameter("quantity"))
#set($details = $context.getRequestParameter("details"))
#set($contactname = $context.getRequestParameter("name"))
#set($contactemail = $context.getRequestParameter("email"))

#set($archive = $context.getPageValue("mediaarchive"))
#set($searcherManager = $archive.getSearcherManager())
#set($catalogid = $archive.getCatalogId())
#set($productsearcher = $searcherManager.getSearcher($catalogid, "product"))
#set($product = $productsearcher.searchById($productid))

#set($url = "$content.siteroot$home/ecommerce/products/${product.sourcepath}.html")

<style>
ul {
	display: block;
	list-style-type: none;
	margin-before: 5em;
	margin-after: 5em;
	margin-start: 0;
	margin-end: 0;
	padding-start: 40px; }
</style>

<h2>Request for Quote</h2>
<ul>
	<li><strong>Contact Name:</strong> &nbsp; $contactname</li>
	<li><strong>Contact Email:</strong> &nbsp; $contactemail</li>
	<li><strong>Product ID:</strong> &nbsp; $productid</li>
	<li><strong>Product Name:</strong> &nbsp; <a href="$url" target="_blank">$product.name</a></li>
	<li><strong>Quantity:</strong> &nbsp; $quantity</li>
	<li>
		<dl>
			<dt><strong>Details:</strong></dt>
			<dd>$details</dd>
		</dl>
	</li>
</ul>
