#set($productid = $context.findValue("product.value"))
#set($searcherManager = $store.getSearcherManager())
#set($productsearcher = $searcherManager.getSearcher($catalogid, "product"))
#set($product = $productsearcher.searchById($productid))

<h2>Request a quote for $product</h2>

<form action="$apphome/views/myaccount/quotes/submitquote.html" method="post">
	<input type="hidden" name="productid" id="productid" value="$productid">
	
	<label for="name">Contact Name</label>
	<input type="text" name="name" id="name" value="$user.screenname">
	<br>
	<label for="email">Contact Email</label>
	<input type="text" name="email" id="email" value="$!user.email">
	<br>
	<label for="quantity">Quantity</label>
	<input type="text" name="quantity" id="quantity" value="" placeholder="# items requested">
	<br>
	<label for="details">Details</label>
	<textarea id="details" name="details" rows="4" cols="50"></textarea> 
	<br>
	
	
	<input type="submit" value="submit">
</form>