#set($exportfile = $context.getContentProperty("exportfile"))

<div class="ui-widget uipanel">
	<div class="ui-widget-header">Rogers BUD Export Section</div>
	<div class="ui-widget-content">
		#if( $errorout )
			$errorout
		#else
			<table class="emdata" id="main-results-table">
				<thead>
					<tr id="tableheader">
						<th>
							Download								
						</th>  
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>BUD FILE</td>
						<td><a href="{$exportfile}" class="btn">Download</a></td>
					</tr>
				</tbody>
			</table>
		#end
	</div> 
</div>
